body {
    background-color: beige;
}
.bands{
    width: "200";
    height: "140";
}
.band-option{
    width: "200";
    height: "140";
}
.band-number{
    width: "200";
    height: 140;
}
.band1-4{
    width: "200";
    height: "140";
}
.band2-4{
    width: "200";
    height: "140";
}
